#!/usr/bin/env bash

set -eux

GENOME_FA_GZ_URL='{{ genome_fa_gz_url }}'
REF_DIR_PATH='{{ ref_dir_path }}'
GENOME_FA='{{ genome_fa }}'

mkdir -p "${REF_DIR_PATH}"
cd "${REF_DIR_PATH}"

bwa 2>&1 | grep -e 'Version:'
samtools 2>&1 | grep -e 'Version:'

curl -LS "${GENOME_FA_GZ_URL}" | gzip -dc - > "${GENOME_FA}"

samtools faidx "${GENOME_FA}"
bwa index "${GENOME_FA}"
