#!/usr/bin/env bash

set -eux

TRIM_DIR_PATH='{{ trim_dir_path }}'
GENOME_FA_PATH='{{ genome_fa_path }}'
MAP_DIR_PATH='{{ map_dir_path }}'
N_CPU={{ n_cpu }}

mkdir -p "${MAP_DIR_PATH}"
cd "${MAP_DIR_PATH}"

bwa 2>&1 | grep -e 'Version:'
samtools 2>&1 | grep -e 'Version:'

GENOME_NAME=$(
  basename "${GENOME_FA_PATH}" | sed -e 's/\.[\.]\+$//'
)
TRIM_FQ_PREFIX=$(
  find "${TRIM_DIR_PATH}" \
    -type f \
    -name '*_R2_val_2.fq.gz' \
    -exec basename {} \; \
    | awk -F '_R2_val_2.fq.gz' '{print $1}'
)

for id in ${TRIM_FQ_PREFIX}; do
  bwa mem \
    -t "${N_CPU}" \
    -R '@RG\tID:None\tSM:None\tPL:ILLUMINA\tLB:None' \
    "${GENOME_FA_PATH}" \
    "${TRIM_DIR_PATH}/${id}_R1_val_1.fq.gz" \
    "${TRIM_DIR_PATH}/${id}_R2_val_2.fq.gz" \
    | samtools view \
      -T "${GENOME_FA_PATH}" \
      -CS - \
      -o "${id}.${GENOME_NAME}.cram"
done
